<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Group Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  color="danger">
    <ion-card-header>
      <ion-card-subtitle>CC106</ion-card-subtitle>
      <ion-card-title>Final Requirement</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      In partial fulfillment for the subject of CC106 - App Dev,<br/> 
      below are the students who completed this subject.
    </ion-card-content>
  </ion-card>

  <ion-list-header>
    <h1>*Insert Section here*</h1>
  </ion-list-header>

  <ion-list>
    <ion-item>
      <ion-label>Student Name 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Student Name 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Student Name 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Student Name 4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Just add more on the list if needed...</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
